

#updateBody{
  display: inline-block;
  text-align: left;
}
  .topnav-right{
    float: right;
  }

  body{
    background-image: url(norm2.png);
    background-repeat: no-repeat;
    background-size: cover;
  }


  .info{
    padding: 1px;
    color:rgb(5, 34, 112);
    text-shadow: 1px 1px rgb(255, 255, 255);
    border-radius: 5px;
    background-color: #f2f2f2;
   
    
  }
  .info h4{
    font-size: 25px;
    display: inline-block;
    margin: 20px;
  }
  .info button{
    margin: 40px;
  }

  .users{
  
    padding: 40px;
    padding-top: 10px;
    color:rgb(5, 34, 112);
    text-shadow: 1.5px 1.5px rgb(255, 255, 255);
    border-style: inset;
    border-radius: 25px;
    border-color:rgb(5, 34, 112) ;
    width: 425px;
    box-shadow: 0 0 10px #ccc;
    background-color: #f2f2f2;

  }
  

  .list{
 
    background: #fff;
    padding: 20px; 
    margin-left:2px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 10px;
    width: 350px;
  }
  .list h3{
    padding: 0 px;
    margin: 0px; 
    font-size: 25px;
  }
  .list p{
    padding: 0px; 
    margin: 0px; 
    margin-top:5px; 
    font-size: 14px;
    color:#555;
  }
  
 
  /* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(51, 51, 51);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(5, 34, 112);
  color: white;
}
.topnav label {
  float: left;
  color: rgb(5, 34, 112);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
 
}

/* Change the color of links on hover */
.topnav label:hover {
  background-color: #ddd;
  color: black;
}


/* Add a color to the active/current link */
.topnav label.active {
  background-color: rgb(5, 34, 112);
  color: white;
}
  

